###############################################################################
# Convert EOL automatically
###############################################################################

* text=auto

###############################################################################
# *.h files are all written in C++ instead of C
###############################################################################

*.h linguist-language=C++
